<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/css/storyMarket_v4_ab5c88c8.css">
</head>
<body>

<div>
    <ul>
        <li>asdasd</li>
        <li>asdfaf</li>
        <li>asdfa</li>
        <li>asdf</li>
        <li>asdf</li>
        <li>aasdfafadsfsd</li>
    </ul>
</div>
<script src="../dist/js/index_1ada45b2.js"></script>
</body>
</html>