<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <ul>
        <li class="zx1">asdasd</li>
        <li class="zx2">asdfaf</li>
        <li>asdfa</li>
        <li>asdf</li>
        <li>asdf</li>
        <li>aasdfafadsfsd</li>
    </ul>
</div>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/index_bundle.js"></script>
<script src="../dist/js/another_bundle.js"></script>
</body>
</html>